Post::create([ 'title' => 'Judul Ketiga', 'category_id' => 3, 'slug' =>
'judul-ketiga', 'excerpt' => 'Lorem ipsum dolor, sit amet consectetur
adipisicing elit. Iste, reiciendis?', 'body' => '
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis molestias
    molestiae possimus error animi. Natus esse cum sequi laboriosam molestiae,
    facilis nam, earum fugit aut culpa quisquam? Amet perferendis aspernatur
    ratione voluptatum nam voluptatem? At qui excepturi corporis eius sed, illo
    aut hic, laboriosam atque eos, aspernatur laudantium soluta ex fuga vel esse
    eveniet inventore maiores rem modi minima nemo. Libero repellendus facere
    modi adipisci sint assumenda pariatur. Rem a nisi ipsa natus, similique
    neque quasi commodi magnam amet illum voluptates ut sapiente iure temporibus
    maiores vitae harum inventore cum quas nobis quo. Incidunt aspernatur
    veritatis optio et cupiditate doloremque.
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque commodi
    nisi labore porro natus corporis nulla, perspiciatis sit veniam laboriosam.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid deleniti
    non doloribus accusantium eligendi amet iste minus, rem repellat saepe
    facilis, sed nam nulla ea, quisquam reprehenderit similique error ipsa.
</p>
' ])
