<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nisi amet
    vitae sit corrupti excepturi voluptas cum numquam animi dolorem inventore,
    est, perferendis nulla! Consequatur expedita eaque fuga. Voluptates iure
    ipsum tempore corporis ipsam ut.
</p>
<p>
    Odit animi incidunt dolore nihil corporis velit nemo et veniam fuga,
    nesciunt sint est, deserunt unde voluptatibus praesentium voluptates
    architecto, labore a voluptatem beatae aperiam cumque fugiat in.
</p>
<p>
    cupiditate at quam exercitationem possimus! Natus optio, animi adipisci
    explicabo minima dolor ex et, ducimus eaque deleniti esse soluta eveniet
    odit itaque sequi eligendi quod repellat excepturi quo nihil. Cum, provident
    saepe ad asperiores officiis quas?
</p>
Post::create([ 'title' => 'Judul Keempat', 'excerpt' => 'Lorem ipsum dolor sit
amet consectetur adipisicing elit.', 'body' => '' ])
